<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body class="register-body" >
<%- include('../partials/header.ejs') %>
    <main class="register-main">
        <section class="registerform-section">
        <form action="/users/store" method="post">
            <div class="input-data">
                <label for="name">Ingrese su nombre</label>
                <input type="text" name="name" id="name" value="<%= locals.oldData && oldData.name ? oldData.name : null %>">
                <p><%= locals.errors && errors.name ? errors.name.msg : null %></p>
            </div>
            <!-- <div class="input-data">
                <select name="color" id="color">
                    <option value="">Elije un color</option>
                    <% let colors = ['rojo','azul','verde','naranja','amarillo','violeta','negro','blanco'] %>
                    <% for (const oneColor of colors) { %>
                        <option value="<%= oneColor  %>"><%= oneColor %></option value="<%= locals.oldData && oldData.color ? "selected" : null %>">
                    <%} %>
                </select>
                <p><%= locals.errors && errors.color ? errors.color.msg : null %></p>
            </div>
            <div class="remember-box">
            <label for="rememberColor">Recordar color</label>
            <input type="checkbox" name="rememberColor" id="rememberColor" <%- locals.oldData && oldData.rememberColor ? "checked" : null %>>
            </div> -->
            <div class="input-data">
                <label for="email">Ingrese su Email</label>
                <input type="email" name="email" id="email" value="<%= locals.oldData && oldData.email ? oldData.email : null %>">
                <p><%= locals.errors && errors.email ? errors.email.msg : null %></p>
            </div>
            <div class="input-data">
                <label for="age">Ingrese su edad</label>
                <input type="number" name="age" id="age" value="<%= locals.oldData && oldData.age ? oldData.age : null %>">
                <p><%= locals.errors && errors.age ? errors.age.msg : null %></p>
            </div>
            <div class="input-data">
                <label for="password">Ingrese una contraseña</label>
                <input type="password" name="password" id="password">
                <p><%= locals.errors && errors.password? errors.password.msg : null %></p>
            </div>
            <div class="input-data">
                <label for="repassword">Confirme su contraseña</label>
                <input type="password" name="repassword" id="repassword">
                <p><%= locals.errors && errors.repassword? errors.repassword.msg : null %></p>
            </div>
            <div class="button-register">
            <button type="submit">Registrarme</button>
            </div>
        </form>
    </section>
    </main>
</body>
</html>